@import "~styles/variables";
@import "~styles/base";
.new-booking {
  width: 342px;
  height: 100%;
  overflow: auto;
  background-color: $gray;
  flex-direction: column;
  padding: 26px 30px;
  box-sizing: border-box;
  border-right: 2px solid $dark-gray-6;
  &__title {
    padding-left: 1px;
    padding-right: 34px;
    padding-bottom: 27px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    position: relative;
  }
  &__close {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    right: -1px;
    top: 13px;
    color: $gray-8;
    font-size: 20px;
    line-height: 20px;
    border: none;
    background: none;
    padding: 0;
  }
  &__table {
    @include font-style($color: $light-gray-2, $size: 18px)
  }
  &__time {
    @include font-style($color: $green-2, $size: 15px);
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    padding: 31px 0 39px;
  }
  &__button {
    cursor: pointer;
    @include font-style($color: $light-gray-2, $size: 16px);
    background-color: $dark-gray-4;
    border: none;
    border-radius: 4px;
    padding: 16px 0;
    margin-bottom: 20px;
    &_green {
      background-color: $mint;
    }
    &:focus {
      outline: none;
    }
  }
}

@media #{$mobile} {
  .new-booking {
    position: fixed;
    width: 100vw;
    z-index: 3;
    overflow-y: auto;
    border-right: none;
    height: calc(100vh - 94px);
  }
}
