<div class="new-booking">
  <div class="new-booking__title">
    <div class="new-booking__table">
      Table 30
    </div>
    <div class="new-booking__time">
      Available at 07:30 PM
    </div>
    <button (click)="closeNewBookingMenu()" class="new-booking__close icon-close">
    </button>
  </div>
  <div class="new-booking__buttons">
    <button (click)="showAddBooking()" class="new-booking__button new-booking__button_green" type="button" name="add-booking">Add a Booking</button>
    <button class="new-booking__button" type="button" name="block-table">Block Table</button>
  </div>
</div>
