@import "~styles/variables";
@import "~styles/base";
.header {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $dark-gray;
  border-bottom: 2px solid $dark-gray-6;
  color: $white;
  &__menu-btn,
  &__sorting-btn {
    display: none;
  }
  &__title {
    @include font-style($color: $light-gray, $size: 18px, $weight: 700, $ls: 0);
    margin-left: 31px;
  }
  &__subtitle {
    @include font-style($color: $light-gray-3, $size: 18px, $weight: 400);
  }
  &__sorting {
    display: flex;
    margin-left: 35px;
  }
  &__sorting-item {
    @include font-style($color: $light-gray, $size: 15px);
    cursor: pointer;
    min-width: 145px;
    padding: 11px 17px;
    display: flex;
    justify-content: space-between;
    background-color: $dark-gray;
    border: 1px solid $dark-gray-7;
    border-radius: 4px;
    margin-right: 15px;
  }
  &__sorting-item-arrow {
    position: absolute;
    right: 35px;
    top: 40%;
    pointer-events: none;
  }
  &__buttons {
    height: 100%;
    display: flex;
    margin-right: 10px;
  }
  &__guest-buttons {
    height: 100%;
    display: flex;
    margin-right: 30px;
    align-items: center;
    display: none;
  }
  &__guest-btn {
    @include font-style($color: $light-gray, $size: 15px);
    padding: 12px 21px;
    height: 20px;
    border-radius: 4px;
    background-color: $gray;
    margin-right: 16px;
    cursor: pointer;
    &:last-child {
      margin-right: 0px;
    }
    &_export {
      padding-left: 52px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 12px;
        left: 18px;
        width: 20px;
        height: 20px;
        background-image: url("/assets/icons/cloud-down.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &_add {
      width: 20px;
      padding: 12px;
      background-image: url("/assets/icons/plus.svg");
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__button {
    width: 22px;
    height: 22px;
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}

@media #{$mobile} {
  .header {
    height: 56px;
    justify-content: space-between;
    box-sizing: border-box;
    &__menu-btn {
      cursor: pointer;
      display: block;
      width: 50px;
      height: 50px;
      background-image: url("~assets/icons/menu-hamburger.svg");
      background-size: 26px 26px;
      background-repeat: no-repeat;
      background-position: center;
    }
    &__sorting-btn {
      cursor: pointer;
      display: block;
      width: 50px;
      height: 50px;
      background-image: url("~assets/icons/sorting.svg");
      background-size: 26px 26px;
      background-repeat: no-repeat;
      background-position: center;
    }
    &__sorting {
      // display: flex;
      display: none;
      position: fixed;
      left: 0;
      top: 56px;
      width: 100vw;
      flex-direction: column;
      margin-left: 0;
      background-color: $dark-gray;
      padding: 10px;
      box-sizing: border-box;
      z-index: 10;
    }
    &__sorting-item {
      margin-top: 5px;
    }
    &__buttons {
      position: fixed;
      bottom: 0;
      left: 0;
      height: 40px;
      width: 100vw;
      z-index: 1;
      display: flex;
      justify-content: space-around;
      background-color: $dark-gray;
    }
    &__button {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 10px;
      cursor: pointer;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    &__title {
      margin-left: 0;
    }
    &__sorting-item-arrow {
      right: 15px;
      top: unset;
      bottom: 20px;
    }
  }
}

@media #{$tablet} {
  .header {
    height: 56px;
    justify-content: space-between;
    box-sizing: border-box;
    &__menu-btn {
      cursor: pointer;
      display: block;
      width: 50px;
      height: 50px;
      background-image: url("~assets/icons/menu-hamburger.svg");
      background-size: 26px 26px;
      background-repeat: no-repeat;
      background-position: center;
    }
    &__sorting-btn {
      cursor: pointer;
      display: block;
      width: 50px;
      height: 50px;
      background-image: url("~assets/icons/sorting.svg");
      background-size: 26px 26px;
      background-repeat: no-repeat;
      background-position: center;
    }
    &__sorting {
      // display: flex;
      display: none;
      position: fixed;
      left: 0;
      top: 56px;
      width: 100vw;
      flex-direction: column;
      margin-left: 0;
      background-color: $dark-gray;
      padding: 10px;
      box-sizing: border-box;
      z-index: 10;
    }
    &__sorting-item {
      margin-top: 5px;
    }
    &__buttons {
      align-items: center;
    }
    &__button {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 10px;
      cursor: pointer;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    &__title {
      margin-left: 0;
    }
    &__sorting-item-arrow {
      right: 15px;
      top: unset;
      bottom: 20px;
    }
  }
}
