<div class="header">
  <div class="header__title">
    Bookings
    <span class="header__subtitle">
      - Timeline
    </span>
  </div>
  <div class="header__sorting">
    <dp-date-picker [(ngModel)]="selectedDate" [theme]="'date-picker'" [config]="datePickerConfig"></dp-date-picker>
    <div class="header__sorting-item">
      Dinner
      <img src="./assets/icons/drop-down.svg" alt="">
    </div>
    <div class="header__sorting-item">
      All Floor
      <img src="./assets/icons/drop-down.svg" alt="">
    </div>
    <div class="header__addsorting">
      <img src="./assets/icons/plus.svg" alt="Add">
    </div>
  </div>

  <div class="header__buttons">
    <a>
      <img src="./assets/icons/timeline.svg" alt="Timeline">
    </a>
    <a>
      <img src="./assets/icons/table.svg" alt="Table">
    </a>
    <a>
      <img src="./assets/icons/list.svg" alt="List">
    </a>
    <!-- <a>
      <img src="./assets/icons/close.svg" alt="Timeline">
    </a> -->
  </div>
</div>
