<div class="step-time">
  <div class="step-time__time-list">
    <div class="step-time__separator">Launch</div>
    <input id="time1" class="step-time__radio" type="radio" name="time" checked>
    <label for="time1">11:00 AM</label>
    <input id="time2" class="step-time__radio" type="radio" name="time">
    <label for="time2">11:30 AM</label>
    <input id="time3" class="step-time__radio" type="radio" name="time">
    <label for="time3">12:00 PM</label>
    <input id="time4" class="step-time__radio" type="radio" name="time" disabled>
    <label for="time4">12:30 PM</label>
    <input id="time5" class="step-time__radio" type="radio" name="time">
    <label for="time5">01:00 PM</label>
    <div class="step-time__separator">Dinner</div>
    <input id="time6" class="step-time__radio" type="radio" name="time">
    <label for="time6">06:00 PM</label>
    <input id="time7" class="step-time__radio" type="radio" name="time">
    <label for="time7">06:30 PM</label>
    <input id="time8" class="step-time__radio" type="radio" name="time">
    <label for="time8">07:00 PM</label>
    <input id="time9" class="step-time__radio" type="radio" name="time">
    <label for="time9">07:30 PM</label>
  </div>
</div>
