@import "~styles/variables";
@import "~styles/base";
.timeline {
  width: 120%;
  height: 120%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("~assets/images/timeline.png");
  background-size: cover;
  @include font-style($color: $light-gray-2, $size: 72px);
}
