@import "~styles/variables";
@import "~styles/base";
.booking-settings {
  width: 342px;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: none;
}

@media #{$mobile} {
  .booking-settings {
    width: 100vw;
    height: 100%;
  }
}
