<div class="guest-list">
  <div class="guest-list__search">
    <input class="guest-list__search-input" placeholder="Search guests..." type="text" name="" value="" />
  </div>
  <div class="guest-list__title">1,457 Guests</div>
  <div class="guest-list__guests">
    <div class="guest-list__guest">
      <div class="guest-list__guest-name">Christine Ortega</div>
      <div class="guest-list__guest-phone">(533) 418 4752</div>
    </div>
    <div class="guest-list__guest">
      <div class="guest-list__guest-name">George Young</div>
      <div class="guest-list__guest-phone">(882) 160 6122</div>
    </div>
    <div class="guest-list__guest">
      <div class="guest-list__guest-name">Ronald Douglas</div>
      <div class="guest-list__guest-phone">(294) 568 2679</div>
    </div>
    <div class="guest-list__guest">
      <div class="guest-list__guest-name">Julia Hoffman</div>
      <div class="guest-list__guest-phone">(997) 682 3986</div>
    </div>
    <div class="guest-list__guest">
      <div class="guest-list__guest-name">Angela Clark</div>
      <div class="guest-list__guest-phone">(199) 551 6819</div>
    </div>
    <div class="guest-list__guest">
      <div class="guest-list__guest-name">John Flores</div>
      <div class="guest-list__guest-phone">(577) 643 3866</div>
    </div>
    <div class="guest-list__guest">
      <div class="guest-list__guest-name">Jennifer Parker</div>
      <div class="guest-list__guest-phone">(385) 372 3786</div>
    </div>
    <div class="guest-list__guest">
      <div class="guest-list__guest-name">Brandon Crawford</div>
      <div class="guest-list__guest-phone">(407) 992 2973</div>
    </div>
    <div class="guest-list__guest">
      <div class="guest-list__guest-name">Eugene Burke</div>
      <div class="guest-list__guest-phone">(505) 926 3254</div>
    </div>
  </div>
</div>
