<div class="menu">
  <div class="menu__main-menu">
    <a routerLink="/dashboard" routerLinkActive="menu__active-item">
      <img src="./assets/icons/dashboard.svg" alt="Dashboard">
    </a>
    <a routerLink="/booking" routerLinkActive="menu__active-item">
        <img src="./assets/icons/booking.svg" alt="Booking">
    </a>
    <a routerLink="/guests" routerLinkActive="menu__active-item">
      <img src="./assets/icons/guests.svg" alt="Guests">
    </a>
    <a routerLink="/stuffs" routerLinkActive="menu__active-item">
      <img src="./assets/icons/stuffs.svg" alt="Stuffs">
  </a>
    <a routerLink="/settings" routerLinkActive="menu__active-item">
      <img src="./assets/icons/settings.svg" alt="Settings">
      </a>
  </div>
  <div class="menu__sub-menu">
    <a routerLink="/notifications" routerLinkActive="menu__active-item">
        <img src="./assets/icons/bell.svg" alt="Notifications">
    </a>
    <a routerLink="/login" routerLinkActive="menu__active-item">
      <img src="./assets/icons/profile.svg" alt="Profile">
      </a>
    <a routerLink="/logout" routerLinkActive="menu__active-item">
        <img src="./assets/icons/logout.svg" alt="Logout">
    </a>
  </div>
</div>
