<div [ngStyle]="{'left':mobileMenuState?'0':'-100%'}" (window:resize)="onResize($event)" id="menu" class="menu">
  <div class="menu__main-menu">
    <div class="menu__mobile-header">
      <div class="menu__mobile-header-title">Menu</div>
      <button (click)="closeMenu()" class="menu__mobile-header-close icon-close"></button>
    </div>
    <a (click)="closeMenu()" class="icon-dashboard" routerLinkActive="menu__active-item">
      <div class="menu__item-text">Dashboard</div>
    </a>
    <a (click)="closeMenu()" class="icon-booking" routerLink="/booking" routerLinkActive="menu__active-item">
      <div class="menu__item-text">Booking</div>
    </a>
    <a (click)="closeMenu()" class="icon-guests" routerLink="/guests" routerLinkActive="menu__active-item">
      <div class="menu__item-text">Guests</div>
    </a>
    <a (click)="closeMenu()" class="icon-stuffs" routerLink="/stuffs" routerLinkActive="menu__active-item">
      <div class="menu__item-text">Stuffs</div>
    </a>
    <a (click)="closeMenu()" class="icon-settings" routerLink="/settings" routerLinkActive="menu__active-item">
      <div class="menu__item-text">Settings</div>
    </a>
  </div>
  <div class="menu__sub-menu">
    <a (click)="closeMenu()" class="icon-bell badge" routerLink="/notifications" routerLinkActive="menu__active-item">
    </a>
    <a (click)="closeMenu()" class="icon-profile" routerLinkActive="menu__active-item">
    </a>
    <a (click)="showLogin()" class="icon-logout" (click)="closeMenu()" routerLink="/logout" routerLinkActive="menu__active-item">
    </a>
  </div>
</div>
