$dark-gray: #1A1D22;
$dark-gray-2: #2D343A;
$dark-gray-3: #23272b;
$dark-gray-4: #313A42;
$dark-gray-5: #33393F;
$dark-gray-6: #121416;
$dark-gray-7: #2F353A;
$dark-gray-8: #15181C;
$dark-gray-9: #384047;
$gray: #292F35;
$gray-2: #3A4149;
$gray-3: #6D7686;
$gray-4: #5F6D7C;
$gray-5: #475868;
$gray-6: #737A86;
$gray-7: #596068;
$gray-8: #54606E;
$gray-9: #4F5861;
$light-gray: #BEC4CD;
$light-gray-2: #D8DEE8;
$light-gray-3: #7C8390;
$light-gray-4: #BBC0CA;
$mint: #1C7C8D;
$red: #B03333;
$green: #39915D;
$green-2:#48943F;
$blue: #3C769D;
$orange: #A35832;
$violet: #5D45A3;
$white: #ffffff;
