<div [ngStyle]="{'display':shiftPackageState == true?'flex':'none'}" id="shiftView" class="shift-view">
  <button class="shift-view__close-btn icon-close"></button>
  <div class="shift-view__shifts">
    <div class="shift-view__shift">
      <div class="shift-view__col-50">
        <div class="shift-view__info-item icon-shifts">
          <div class="shift-view__info-item-name">Shifts</div>
          <div class="shift-view__info-item-value">Launch</div>
        </div>
        <div class="shift-view__info-item icon-table">
          <div class="shift-view__info-item-name">Floor Package</div>
          <div class="shift-view__info-item-value">Default</div>
        </div>
        <div class="shift-view__info-item icon-deposit">
          <div class="shift-view__info-item-name">Deposit</div>
          <div class="shift-view__info-item-value">100 RMB</div>
        </div>
      </div>
      <div class="shift-view__col-50">
        <div class="shift-view__info-item icon-clock">
          <div class="shift-view__info-item-name">Time</div>
          <div class="shift-view__info-item-value">11:00 AM, 11:30 AM</div>
        </div>
        <div class="shift-view__info-item icon-hours">
          <div class="shift-view__info-item-name">Avg Time Per Booking</div>
          <div class="shift-view__info-item-value">1h 30m</div>
        </div>
        <div class="shift-view__info-item icon-status">
          <div class="shift-view__info-item-name">Status</div>
          <mat-slide-toggle class="shift-view__info-item-toggle" disabled></mat-slide-toggle>
        </div>
      </div>
    </div>
    <div class="shift-view__shift">
      <div class="shift-view__col-50">
        <div class="shift-view__info-item icon-shifts">
          <div class="shift-view__info-item-name">Shifts</div>
          <div class="shift-view__info-item-value">Dinner</div>
        </div>
        <div class="shift-view__info-item icon-table">
          <div class="shift-view__info-item-name">Floor Package</div>
          <div class="shift-view__info-item-value">Default</div>
        </div>
        <div class="shift-view__info-item icon-deposit">
          <div class="shift-view__info-item-name">Deposit</div>
          <div class="shift-view__info-item-value">100 RMB</div>
        </div>
      </div>
      <div class="shift-view__col-50">
        <div class="shift-view__info-item icon-clock">
          <div class="shift-view__info-item-name">Time</div>
          <div class="shift-view__info-item-value">05:00 PM, 05:30 PM</div>
        </div>
        <div class="shift-view__info-item icon-hours">
          <div class="shift-view__info-item-name">Avg Time Per Booking</div>
          <div class="shift-view__info-item-value">1h 30m</div>
        </div>
        <div class="shift-view__info-item icon-status">
          <div class="shift-view__info-item-name">Status</div>
          <mat-slide-toggle class="shift-view__info-item-toggle" disabled></mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
</div>
<div [ngStyle]="{'display':shiftPackageEditState == true?'flex':'none'}" id="shiftEdit" class="shift-edit">
  <button class="shift-edit__close-btn icon-close"></button>
  <div class="shift-edit__title">
    <div>
      <div class="shift-edit__name">Create Shift</div>
      <div class="shift-edit__desc">Create Shift package</div>
    </div>
    <button class="shift-edit__add-btn">Add a Shift</button>
  </div>
  <div class="shift-edit__shifts">
    <div class="shift-edit__shift">
      <div class="shift-edit__row">
        <div class="shift-edit__col-50">
          <div class="shift-edit__field">
            <div class="shift-edit__field-name">Shift</div>
            <div class="shift-edit__field-dropdown">
              <ng-select #select100 (opened)="closeOtherSelects(select100)" [items]="shifts"></ng-select>
            </div>
          </div>
        </div>
        <div class="shift-edit__col-50">
          <div class="shift-edit__field">
            <div class="shift-edit__field-name">Time Slots</div>
            <div class="shift-edit__field-time">
              <div class="shift-edit__time">11:00 AM
                <button class="shift-edit__time-delete icon-close"></button>
              </div>
              <div class="shift-edit__time">11:30 AM
                <button class="shift-edit__time-delete icon-close"></button>
              </div>
              <dp-date-picker #date100 (close)="addTime(date100)" [(ngModel)]="selectedTime" [theme]="'date-picker'" [mode]="'time'" [config]="timePickerConfig"></dp-date-picker>
            </div>
          </div>
        </div>
      </div>
      <div class="shift-edit__row">
        <div class="shift-edit__col-50">
          <div class="shift-edit__field">
            <div class="shift-edit__field-name">Floor Package</div>
            <div class="shift-edit__field-dropdown">
              <ng-select #select14 (opened)="closeOtherSelects(select14)" [items]="floors"></ng-select>
            </div>
          </div>
        </div>
        <div class="shift-edit__col-50">
          <div class="shift-edit__field">
            <div class="shift-edit__field-name">Avg Time Per Booking</div>
            <div class="shift-edit__field-dropdown">
              <ng-select #select15 (opened)="closeOtherSelects(select15)" [items]="times"></ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="shift-edit__row">
        <div class="shift-edit__col-50">
          <div class="shift-edit__field">
            <div class="shift-edit__field-name">Deposit Amount</div>
            <div class="shift-edit__field-input">
              <input class="shift-edit__text-input" type="text" name="" placeholder="">
            </div>
          </div>
        </div>
        <mat-slide-toggle class="shift-edit__shift-status"></mat-slide-toggle>
      </div>
    </div>
    <div class="shift-edit__shift">
      <div class="shift-edit__row">
        <div class="shift-edit__col-50">
          <div class="shift-edit__field">
            <div class="shift-edit__field-name">Shift</div>
            <div class="shift-edit__field-dropdown">
              <ng-select #select16 (opened)="closeOtherSelects(select16)" [items]="shifts"></ng-select>
            </div>
          </div>
        </div>
        <div class="shift-edit__col-50">
          <div class="shift-edit__field">
            <div class="shift-edit__field-name">Time Slots</div>
            <div class="shift-edit__field-time">
              <div class="shift-edit__time">11:00 AM
                <button class="shift-edit__time-delete icon-close"></button>
              </div>
              <div class="shift-edit__time">11:30 AM
                <button class="shift-edit__time-delete icon-close"></button>
              </div>
              <dp-date-picker #date101 (close)="addTime(date101)" [(ngModel)]="selectedTime2" [theme]="'date-picker'" [mode]="'time'" [config]="timePickerConfig"></dp-date-picker>
            </div>
          </div>
        </div>
      </div>
      <div class="shift-edit__row">
        <div class="shift-edit__col-50">
          <div class="shift-edit__field">
            <div class="shift-edit__field-name">Floor Package</div>
            <div class="shift-edit__field-dropdown">
              <ng-select #select17 (opened)="closeOtherSelects(select17)" [items]="floors"></ng-select>
            </div>
          </div>
        </div>
        <div class="shift-edit__col-50">
          <div class="shift-edit__field">
            <div class="shift-edit__field-name">Avg Time Per Booking</div>
            <div class="shift-edit__field-dropdown">
              <ng-select #select18 (opened)="closeOtherSelects(select18)" [items]="times"></ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="shift-edit__row">
        <div class="shift-edit__col-50">
          <div class="shift-edit__field">
            <div class="shift-edit__field-name">Deposit Amount</div>
            <div class="shift-edit__field-input">
              <input class="shift-edit__text-input" type="text" name="" placeholder="">
            </div>
          </div>
        </div>

        <mat-slide-toggle class="shift-edit__shift-status"></mat-slide-toggle>
      </div>
    </div>
  </div>
</div>