<div id="floorMenu" class="floor-menu">
  <div class="floor-menu__search">
    <input class="floor-menu__search-input" placeholder="Search bookings…" type="text" name="" value="" />
  </div>
  <mat-tab-group>
    <mat-tab label="Bookings">
      <div class="floor-menu__bookings">
        <div class="floor-menu__group">
          <div class="floor-menu__group-title">
            <div class="floor-menu__group-title-text">Waiting List</div>
            <div class="floor-menu__group-title-count">1</div>
          </div>
          <div class="floor-menu__bookings-item">
            <div class="floor-menu__bookings-item-thumbnail floor-menu__bookings-item-thumbnail_gray">
              <img src="/assets/icons/waiting-list.svg" alt="">
            </div>
            <div class="floor-menu__bookings-item-name">Martha Evans</div>
            <div class="floor-menu__bookings-item-info">
              <div class="floor-menu__bookings-item-info-left">
                <div class="floor-menu__bookings-item-time">07:45 PM</div>
                <div class="floor-menu__bookings-item-guests">2</div>
              </div>
            </div>
          </div>
        </div>
        <div class="floor-menu__group">
          <div class="floor-menu__group-title">
            <div class="floor-menu__group-title-text">Booked</div>
            <div class="floor-menu__group-title-count">2</div>
          </div>
          <div class="floor-menu__bookings-item">
            <div class="floor-menu__bookings-item-thumbnail floor-menu__bookings-item-thumbnail_green">
              <img src="/assets/icons/book.svg" alt="">
            </div>
            <div class="floor-menu__bookings-item-name floor-menu__bookings-item-name_vip">Katherine Fowler</div>
            <div class="floor-menu__bookings-item-info">
              <div class="floor-menu__bookings-item-info-left">
                <div class="floor-menu__bookings-item-time">06:30 PM</div>
                <div class="floor-menu__bookings-item-guests">4</div>
              </div>
            </div>
          </div>
          <div class="floor-menu__bookings-item">
            <div class="floor-menu__bookings-item-thumbnail floor-menu__bookings-item-thumbnail_blue">
              <img src="/assets/icons/book.svg" alt="">
            </div>
            <div class="floor-menu__bookings-item-name">Thomas Boyd</div>
            <div class="floor-menu__bookings-item-info">
              <div class="floor-menu__bookings-item-info-left">
                <div class="floor-menu__bookings-item-time">08:30 PM</div>
                <div class="floor-menu__bookings-item-guests">6</div>
              </div>
            </div>
          </div>
        </div>
        <div class="floor-menu__group">
          <div class="floor-menu__group-title">
            <div class="floor-menu__group-title-text">Confirmed</div>
            <div class="floor-menu__group-title-count">3</div>
          </div>
          <div class="floor-menu__bookings-item">
            <div class="floor-menu__bookings-item-thumbnail floor-menu__bookings-item-thumbnail_blue">
              <img src="/assets/icons/confirmed.svg" alt="">
            </div>
            <div class="floor-menu__bookings-item-name">Dennis Edwards</div>
            <div class="floor-menu__bookings-item-info">
              <div class="floor-menu__bookings-item-info-left">
                <div class="floor-menu__bookings-item-time">07:00 PM</div>
                <div class="floor-menu__bookings-item-guests">2</div>
              </div>
              <div class="floor-menu__bookings-item-table">T5</div>
            </div>
          </div>
          <div class="floor-menu__bookings-item">
            <div class="floor-menu__bookings-item-thumbnail floor-menu__bookings-item-thumbnail_orange">
              <img src="/assets/icons/confirmed.svg" alt="">
            </div>
            <div class="floor-menu__bookings-item-name">Andrea Wheeler</div>
            <div class="floor-menu__bookings-item-info">
              <div class="floor-menu__bookings-item-info-left">
                <div class="floor-menu__bookings-item-time">09:00 PM</div>
                <div class="floor-menu__bookings-item-guests">7</div>
              </div>
              <div class="floor-menu__bookings-item-table">T9</div>
            </div>
          </div>
          <div class="floor-menu__bookings-item">
            <div class="floor-menu__bookings-item-thumbnail floor-menu__bookings-item-thumbnail_violet">
              <img src="/assets/icons/confirmed.svg" alt="">
            </div>
            <div class="floor-menu__bookings-item-name">Bobby Wagner</div>
            <div class="floor-menu__bookings-item-info">
              <div class="floor-menu__bookings-item-info-left">
                <div class="floor-menu__bookings-item-time">06:15 PM</div>
                <div class="floor-menu__bookings-item-guests">6</div>
              </div>
              <div class="floor-menu__bookings-item-table">T24</div>
            </div>
          </div>
        </div>
        <div class="floor-menu__group">
          <div class="floor-menu__group-title">
            <div class="floor-menu__group-title-text">Seated</div>
            <div class="floor-menu__group-title-count">7</div>
          </div>
          <div class="floor-menu__bookings-item">
            <div class="floor-menu__bookings-item-thumbnail floor-menu__bookings-item-thumbnail_lime">
              <img src="/assets/icons/seated.svg" alt="">
            </div>
            <div class="floor-menu__bookings-item-name">Sean Allen</div>
            <div class="floor-menu__bookings-item-info">
              <div class="floor-menu__bookings-item-info-left">
                <div class="floor-menu__bookings-item-time">08:15 PM</div>
                <div class="floor-menu__bookings-item-guests">3</div>
              </div>
              <div class="floor-menu__bookings-item-table">T27</div>
            </div>
          </div>
          <div class="floor-menu__bookings-item">
            <div class="floor-menu__bookings-item-thumbnail floor-menu__bookings-item-thumbnail_lime">
              <img src="/assets/icons/seated.svg" alt="">
            </div>
            <div class="floor-menu__bookings-item-name">Sean Allen</div>
            <div class="floor-menu__bookings-item-info">
              <div class="floor-menu__bookings-item-info-left">
                <div class="floor-menu__bookings-item-time">08:15 PM</div>
                <div class="floor-menu__bookings-item-guests">3</div>
              </div>
              <div class="floor-menu__bookings-item-table">T27</div>
            </div>
          </div>
          <div class="floor-menu__bookings-item">
            <div class="floor-menu__bookings-item-thumbnail floor-menu__bookings-item-thumbnail_lime">
              <img src="/assets/icons/seated.svg" alt="">
            </div>
            <div class="floor-menu__bookings-item-name">Sean Allen</div>
            <div class="floor-menu__bookings-item-info">
              <div class="floor-menu__bookings-item-info-left">
                <div class="floor-menu__bookings-item-time">08:15 PM</div>
                <div class="floor-menu__bookings-item-guests">3</div>
              </div>
              <div class="floor-menu__bookings-item-table">T27</div>
            </div>
          </div>
          <div class="floor-menu__bookings-item">
            <div class="floor-menu__bookings-item-thumbnail floor-menu__bookings-item-thumbnail_lime">
              <img src="/assets/icons/seated.svg" alt="">
            </div>
            <div class="floor-menu__bookings-item-name">Sean Allen</div>
            <div class="floor-menu__bookings-item-info">
              <div class="floor-menu__bookings-item-info-left">
                <div class="floor-menu__bookings-item-time">08:15 PM</div>
                <div class="floor-menu__bookings-item-guests">3</div>
              </div>
              <div class="floor-menu__bookings-item-table">T27</div>
            </div>
          </div>
          <div class="floor-menu__bookings-item">
            <div class="floor-menu__bookings-item-thumbnail floor-menu__bookings-item-thumbnail_lime">
              <img src="/assets/icons/seated.svg" alt="">
            </div>
            <div class="floor-menu__bookings-item-name">Sean Allen</div>
            <div class="floor-menu__bookings-item-info">
              <div class="floor-menu__bookings-item-info-left">
                <div class="floor-menu__bookings-item-time">08:15 PM</div>
                <div class="floor-menu__bookings-item-guests">3</div>
              </div>
              <div class="floor-menu__bookings-item-table">T27</div>
            </div>
          </div>
          <div class="floor-menu__bookings-item">
            <div class="floor-menu__bookings-item-thumbnail floor-menu__bookings-item-thumbnail_lime">
              <img src="/assets/icons/seated.svg" alt="">
            </div>
            <div class="floor-menu__bookings-item-name">Sean Allen</div>
            <div class="floor-menu__bookings-item-info">
              <div class="floor-menu__bookings-item-info-left">
                <div class="floor-menu__bookings-item-time">08:15 PM</div>
                <div class="floor-menu__bookings-item-guests">3</div>
              </div>
              <div class="floor-menu__bookings-item-table">T27</div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Staffs">
      <div class="floor-menu__staffs">
        <div class="floor-menu__group">
          <div class="floor-menu__group-title">
            <div class="floor-menu__group-title-text">ASSIGNED</div>
            <div class="floor-menu__group-title-count">3</div>
          </div>
          <div class="floor-menu__staffs-item">
            <div class="floor-menu__staffs-color floor-menu__staffs-color_orange"></div>
            <div class="floor-menu__staffs-item-thumbnail">
              <img src="/assets/avatars/staff1.png" alt="">
            </div>
            <div class="floor-menu__staffs-item-name">Phillip Schultz</div>
            <div class="floor-menu__staffs-item-info">
              <div class="floor-menu__staffs-item-info-left">
                <div class="floor-menu__staffs-item-time">07:45 PM</div>
                <div class="floor-menu__staffs-item-table">T26</div>
              </div>
            </div>
          </div>
          <div class="floor-menu__staffs-item">
            <div class="floor-menu__staffs-color floor-menu__staffs-color_green"></div>
            <div class="floor-menu__staffs-item-thumbnail">
              <img src="/assets/avatars/staff2.png" alt="">
            </div>
            <div class="floor-menu__staffs-item-name">Marilyn Richards</div>
            <div class="floor-menu__staffs-item-info">
              <div class="floor-menu__staffs-item-info-left">
                <div class="floor-menu__staffs-item-time">06:30 PM</div>
                <div class="floor-menu__staffs-item-table">T5</div>
              </div>
            </div>
          </div>
          <div class="floor-menu__staffs-item">
            <div class="floor-menu__staffs-color floor-menu__staffs-color_violet"></div>
            <div class="floor-menu__staffs-item-thumbnail">
              <img src="/assets/avatars/staff3.png" alt="">
            </div>
            <div class="floor-menu__staffs-item-name">Olivia Black</div>
            <div class="floor-menu__staffs-item-info">
              <div class="floor-menu__staffs-item-info-left">
                <div class="floor-menu__staffs-item-time">08:15 PM</div>
                <div class="floor-menu__staffs-item-table">T35</div>
              </div>
            </div>
          </div>
        </div>
        <div class="floor-menu__group">
          <div class="floor-menu__group-title">
            <div class="floor-menu__group-title-text">not ASSIGNED</div>
            <div class="floor-menu__group-title-count">1</div>
          </div>
          <div class="floor-menu__staffs-item">
            <div class="floor-menu__staffs-item-thumbnail">
              <img src="/assets/avatars/staff4.png" alt="">
            </div>
            <div class="floor-menu__staffs-item-name">Nicole Wheeler</div>
            <div class="floor-menu__staffs-item-info">
              <div class="floor-menu__staffs-item-info-left">
                <div class="floor-menu__staffs-item-time">09:45 PM</div>
                <div class="floor-menu__staffs-item-table">T36</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
