<div id="staffView" class="staff-view">
  <div class="staff-view__title">
    <div class="staff-view__thumbnail">
      <img src="/assets/avatars/staff6.png" alt="">
    </div>
    <div>
      <div class="staff-view__name">Thomas Sims</div>
      <div class="staff-view__role">Waiter</div>
    </div>
    <div (click)="showStaffEdit()" class="staff-view__edit-btn">Edit</div>
    <div class="staff-view__close"></div>
  </div>
  <div class="staff-view__staff-info">
    <div class="staff-view__col-50">
      <div class="staff-view__staff-info-item staff-view__staff-info-item_name">
        <div class="staff-view__staff-info-item-name">Full Name</div>
        <div class="staff-view__staff-info-item-value">Thomas Sims</div>
      </div>
      <div class="staff-view__staff-info-item staff-view__staff-info-item_email">
        <div class="staff-view__staff-info-item-name">Email Address</div>
        <div class="staff-view__staff-info-item-value">bestwaiter@gmail.com</div>
      </div>
      <div class="staff-view__staff-info-item staff-view__staff-info-item_role">
        <div class="staff-view__staff-info-item-name">Role</div>
        <div class="staff-view__staff-info-item-value">Waiter</div>
      </div>
    </div>
    <div class="staff-view__col-50">
      <div class="staff-view__staff-info-item staff-view__staff-info-item_phone">
        <div class="staff-view__staff-info-item-name">Phone Number</div>
        <div class="staff-view__staff-info-item-value">+97 (533) 720 1292</div>
      </div>
      <div class="staff-view__staff-info-item staff-view__staff-info-item_acc-name">
        <div class="staff-view__staff-info-item-name">Account Name</div>
        <div class="staff-view__staff-info-item-value">Ramos</div>
      </div>
    </div>
  </div>
  <app-stuffs-edit></app-stuffs-edit>
</div>
