<div id="rulesView" class="rules-view" [ngStyle]="{'display': rulesState ?'flex':'none'}">
  <div class="rules-view__header ">
    <div class="rules-view__header-group ">
      <div class="rules-view__header-date ">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</div>
      <div class="rules-view__header-date-change rules-view__header-date-change_prev " mwlCalendarPreviousView [view]="view " [(viewDate)]="viewDate " (viewDateChange)="activeDayIsOpen=false ">
      </div>
      <div class="rules-view__header-date-change rules-view__header-date-change_next " mwlCalendarNextView [view]="view " [(viewDate)]="viewDate " (viewDateChange)="activeDayIsOpen=false ">
      </div>
    </div>
    <div class="rules-view__header-buttons ">
      <div class="rules-view__header-button " mwlCalendarToday [(viewDate)]="viewDate ">
        Today
      </div>
      <div class="rules-view__header-button " (click)="view='month' " [class.active]="view==='month' ">
        Month
      </div>
      <div class="rules-view__header-button " (click)="view='week' " [class.active]="view==='week' ">
        Week
      </div>
      <div class="rules-view__header-button " (click)="view='day' " [class.active]="view==='day' ">
        Day
      </div>
    </div>
  </div>
  <ng-template #monthViewHeader let-days="days " let-locale="locale ">
    <div class="cal-cell-row cal-header ">
      <div class="cal-cell ">sun </div>
      <div class="cal-cell ">mon </div>
      <div class="cal-cell ">tue </div>
      <div class="cal-cell ">wed </div>
      <div class="cal-cell ">thu </div>
      <div class="cal-cell ">fri </div>
      <div class="cal-cell ">sat </div>
    </div>
  </ng-template>
  <ng-template #monthDayTemplate let-day="day " let-locale="locale " let-tooltipPlacement="tooltipPlacement " let-highlightDay="highlightDay " let-unhighlightDay="unhighlightDay " let-eventClicked="eventClicked " let-tooltipTemplate="tooltipTemplate " let-tooltipAppendToBody="tooltipAppendToBody ">
    <div class="cal-events " *ngIf="day.events.length> 0">
      <div class="cal-event" *ngFor="let event of day.events" [style.backgroundColor]="event.color.primary" [ngClass]="event?.cssClass">{{event.title }}
      </div>
    </div>
    <div class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</div>
  </ng-template>
  <div style="height: 100%;
  overflow-y: auto;" [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="'month'" [headerTemplate]="monthViewHeader" [cellTemplate]="monthDayTemplate" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>
</div>
