<div id="floorPackageView" class="floor-package-view">

  <div class="floor-package-view__header">
    <div class="floor-package-view__dropdown">
      <ng-select [items]="floors" placeholder=""></ng-select>
      <img class="floor-package-view__dropdown-arrow" src="/assets/icons/drop-down.svg" alt="">
    </div>
    <div class="floor-package-view__zoom-btn floor-package-view__zoom-btn_plus"></div>
    <div class="floor-package-view__zoom-btn floor-package-view__zoom-btn_minus"></div>
    <div class="floor-package-view__close-btn"></div>
  </div>
  <div class="floor-package-view__view-container">
    <canvas id="floorPackageCanvas"></canvas>
  </div>
</div>
