<div class="step-confirm">
  <div class="step-confirm__row">
    <div class="step-confirm__input step-confirm__input_full">
      <div class="step-confirm__input-label">Phone Number</div>
      <input class="step-confirm__text-input" type="text" name="">
    </div>
  </div>
  <div class="step-confirm__row">
    <div class="step-confirm__input step-confirm__input_half">
      <div class="step-confirm__input-label">Full name</div>
      <input class="step-confirm__text-input" type="text" name="">
    </div>
    <div class="step-confirm__input step-confirm__input_half">
      <div class="step-confirm__input-label">Email Address</div>
      <input class="step-confirm__text-input" type="email" name="">
    </div>
  </div>
  <div class="step-confirm__row">
    <div class="step-confirm__input step-confirm__input_full">
      <div class="step-confirm__input-label">Notes</div>
      <textarea class="step-confirm__text-input step-confirm__text-input_textarea" name="" placeholder="Enter notes, if any..."></textarea>
    </div>
  </div>
  <div class="step-confirm__tags">
    <div class="step-confirm__tag step-confirm__tag_window-seat">Window seat</div>
    <div class="step-confirm__tag step-confirm__tag_add-btn">add tag</div>
  </div>
  <button class="step-confirm__confirm-btn" type="button" name="button">Confirm Booking</button>
</div>
