<div class="step-guests">
  <div class="step-guests__guests-count">
    <input id="1guest" class="step-guests__radio" type="radio" name="guests" checked>
    <label for="1guest">1 Guest</label>
    <input id="2guest" class="step-guests__radio" type="radio" name="guests">
    <label for="2guest">2 Guests</label>
    <input id="3guest" class="step-guests__radio" type="radio" name="guests">
    <label for="3guest">3 Guests</label>
    <input id="4guest" class="step-guests__radio" type="radio" name="guests">
    <label for="4guest">4 Guests</label>
    <input id="5guest" class="step-guests__radio" type="radio" name="guests">
    <label for="5guest">5 Guests</label>
    <input id="6guest" class="step-guests__radio" type="radio" name="guests">
    <label for="6guest">6 Guests</label>
    <input id="7guest" class="step-guests__radio" type="radio" name="guests">
    <label for="7guest">7 Guests</label>
    <input id="8guest" class="step-guests__radio" type="radio" name="guests">
    <label for="8guest">8 Guests</label>
    <input id="9guest" class="step-guests__radio" type="radio" name="guests">
    <label for="9guest">9 Guests</label>
    <input id="10guest" class="step-guests__radio" type="radio" name="guests">
    <label for="10guest">10 Guests</label>
  </div>
  <div class="step-guests__groups-count">
    <input class="step-guests__text-input" type="text" name="" placeholder="Enter number of parties...">
  </div>

</div>
