@font-face {
  font-family: Heebo;
  src: "./assets/fonts/Heebo/Heebo-Regular.ttf";
  font-weight: 400;
}
@font-face {
  font-family: Heebo;
  src: "./assets/fonts/Heebo/Heebo-Bold.ttf";
  font-weight: 700;
}
@font-face {
  font-family: Heebo;
  src: "./assets/fonts/Heebo/Heebo-Thin.ttf";
  font-weight: 300;
}
@font-face {
  font-family: Heebo;
  src: "./assets/fonts/Heebo/Heebo-ExtraBold.ttf";
  font-weight: 900;
}
