<div id="tableAssignMenu" class="table-assign">
  <div class="table-assign__title">
    <div class="table-assign__text">Assigned</div>
    <div class="table-assign__table">Table 5</div>
    <div (click)="toggleTableAssignMenu('hide')" class="table-assign__close"></div>
  </div>
  <div class="table-assign__staffs">
    <div class="table-assign__staffs-item">
      <div class="table-assign__staffs-color table-assign__staffs-color_gray"></div>
      <div class="table-assign__staffs-item-thumbnail">
        <img src="/assets/avatars/staff1.png" alt="">
      </div>
      <div class="table-assign__staffs-item-name">Phillip Schultz</div>
      <div class="table-assign__staffs-item-info">
        <div class="table-assign__staffs-item-info-left">
          <div class="table-assign__staffs-item-time">07:45 PM</div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-assign__buttons">
    <button class="table-assign__button table-assign__button_active" type="button" name="button">Change Assign</button>
    <button class="table-assign__button" type="button" name="button">Clear All Assign</button>
    <button class="table-assign__button" type="button" name="button">Change Color</button>
  </div>
