<div [ngStyle]="{'display':floorPackageState == true?'flex':'none'}" id="floorMenu" class="floor-menu">
  <div class="floor-menu__floor-info">
    <div class="floor-menu__title icon-table">
      <div class="floor-menu__text">Floor Packages</div>
      <div class="floor-menu__desc">Edit or create floor package</div>
      <button (click)="closeFloorPackageSettings()" class="floor-menu__close icon-close"></button>
    </div>
    <div class="floor-menu__content">
      <div class="floor-menu__floor">
        <div class="floor-menu__floor-name-label">Package Name</div>
        <div class="floor-menu__floor-name">Weekend Party</div>
        <button class="floor-menu__btn floor-menu__btn_accent">Set As Default</button>
        <button class="floor-menu__btn floor-menu__btn_mobile-view">Show View</button>
        <div (click)="showFloorPackageEdit()">Edit Package</div>
      </div>
      <button class="floor-menu__btn">Duplicate</button>
    </div>
  </div>
  <div [ngStyle]="{'display':floorEdit == true?'flex':'none'}" class="floor-menu__floor-edit">
    <div class="floor-menu__title icon-table">
      <div class="floor-menu__text">Floor Packages</div>
      <div class="floor-menu__desc">Edit or create floor package</div>
      <button (click)="closeFloorPackageEdit()" class="floor-menu__close icon-close"></button>
    </div>
    <div class="floor-menu__content">
      <div class="floor-menu__floor">
        <div class="floor-menu__floor-name-label">Package Name</div>
        <input class="floor-menu__input" type="text">
        <button (click)="closeFloorPackageEdit()" class="floor-menu__btn floor-menu__btn_accent">Save</button>
        <div class="floor-menu__publish-status">
          <div class="floor-menu__publish-status-info">
            <div class="floor-menu__publish-status-text">Publish Package</div>
            <div class="floor-menu__publish-status-desc">Switch on to publish</div>
          </div>
          <mat-slide-toggle class="floor-menu__publish-status-switch"></mat-slide-toggle>
        </div>
      </div>
      <button class="floor-menu__btn floor-menu__btn_red">Delete</button>
    </div>
  </div>
  <div [ngStyle]="{'display':tableEditState == true?'flex':'none'}" id="floorMenuTableEdit" class="floor-menu__table-edit">
    <div class="floor-menu__title icon-table">
      <div class="floor-menu__text">Floor Packages</div>
      <div class="floor-menu__desc">Edit or create floor package</div>
      <button (click)="closeTableEdit()" class="floor-menu__close icon-close"></button>
    </div>
    <div class="floor-menu__content">
      <div class="floor-menu__fields">
        <button (click)="toggleConfirm('show')" class="floor-menu__btn floor-menu__btn_green">Save & Close - {{selectedTable.name}}</button>
        <div class="floor-menu__row">
          <div class="floor-menu__field">
            <div class="floor-menu__field-name">Number</div>
            <div class="floor-menu__field-dropdown">
              <ng-select (selected)="changeTableNumber($event)" [items]="numbers" [active]="[numbers[selectedTable.id - 1 || 0]]"></ng-select>
            </div>
          </div>
        </div>
        <div class="floor-menu__row">
          <div class="floor-menu__col">
            <div class="floor-menu__field">
              <div class="floor-menu__field-name">Seat</div>
              <div class="floor-menu__field-dropdown">
                <ng-select (selected)="changeSeatNumber($event)" [items]="seat" [active]="[seat[selectedTable.seats - 1 || 0]]"></ng-select>
              </div>
            </div>
          </div>
          <div class="floor-menu__col">
            <div class="floor-menu__field">
              <div class="floor-menu__field-name">Seatable</div>
              <div class="floor-menu__field-dropdown">
                <ng-select [items]="seateble"></ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="floor-menu__row">
          <div class="floor-menu__field">
            <div class="floor-menu__field-name">Style</div>
            <div class="floor-menu__table-styles">
              <input id="style1" (click)="changeTableStyle('rect')" class="floor-menu__table-style floor-menu__table-style_square" type="radio" name="tableStyle" checked>
              <label for="style1"></label>
              <input id="style2" (click)="changeTableStyle('circle')" class="floor-menu__table-style floor-menu__table-style_round" type="radio" name="tableStyle">
              <label for="style2"></label>
            </div>
          </div>
        </div>
        <div class="floor-menu__publish-status">
          <div class="floor-menu__publish-status-info">
            <div class="floor-menu__publish-status-text">Allow Online Booking</div>
            <div class="floor-menu__publish-status-desc">Switch on to allow</div>
          </div>
          <mat-slide-toggle class="floor-menu__publish-status-switch"></mat-slide-toggle>
        </div>
      </div>
    </div>
    <div [ngStyle]="{'display':confirm == true?'flex':'none'}" class="floor-menu__confirm">
      <div class="floor-menu__content">
        <div>
          <div class="floor-menu__confirm-title">Confirm?
            <button (click)="toggleConfirm('hide')" class="floor-menu__back-btn icon-back"></button>
          </div>
          <div class="floor-menu__confirm-text">Are you sure want to make “
            <span>Weekend Party</span>” as default package?</div>
          <div class="floor-menu__buttons">
            <button (click)="tableConfirm()" class="floor-menu__btn floor-menu__btn_accent">Yes, Make It</button>
            <button (click)="toggleConfirm('hide')" class="floor-menu__btn">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
