<div class="staffs-list">
  <div class="staffs-list__search">
    <input class="staffs-list__search-input" placeholder="Search staffs..." type="text" name="" value="" />
  </div>
  <div class="staffs-list__title">6 Stuff Memeber</div>
  <div class="staffs-list__staffs">
    <div class="staffs-list__staff">
      <div class="staffs-list__staff-thumbnail">
        <img src="./assets/avatars/staff5.png" alt="">
      </div>
      <div class="staffs-list__staff-name">Evelyn Barnett</div>
      <div class="staffs-list__staff-phone">Waiter</div>
    </div>
    <div class="staffs-list__staff">
      <div class="staffs-list__staff-thumbnail">
        <img src="./assets/avatars/staff6.png" alt="">
      </div>
      <div class="staffs-list__staff-name">Thomas Sims</div>
      <div class="staffs-list__staff-phone">Waiter</div>
    </div>
    <div class="staffs-list__staff">
      <div class="staffs-list__staff-thumbnail">
        <img src="./assets/avatars/staff7.png" alt="">
      </div>
      <div class="staffs-list__staff-name">Wayne Obrien</div>
      <div class="staffs-list__staff-phone">Admin</div>
    </div>
    <div class="staffs-list__staff">
      <div class="staffs-list__staff-thumbnail">
        <img src="./assets/avatars/staff8.png" alt="">
      </div>
      <div class="staffs-list__staff-name">Arthur Gonzalez</div>
      <div class="staffs-list__staff-phone">Waiter</div>
    </div>
    <div class="staffs-list__staff">
      <div class="staffs-list__staff-thumbnail">
        <img src="./assets/avatars/staff9.png" alt="">
      </div>
      <div class="staffs-list__staff-name">Crystal Rodriguez</div>
      <div class="staffs-list__staff-phone">Waiter</div>
    </div>
  </div>
</div>
